In [1]:
import pandas as pd
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#load the dataset from csv file into a panda dataframe
df = pd.read_csv("Resources/carvana_carvana_car_sold-2022-08.csv", index_col = False)
df.head(2)

,vehicle_id,stock_number,year,make,model,miles,trim,sold_price,discounted_sold_price,partnered_dealership,delivery_fee,earliest_delivery_date,sold_date
0,2270123,2001646447,2014,Volkswagen,Jetta,53238,2.0L S,15990,15990,False,1490,2022-09-09T21:34:31.376Z,2022-08-31
1,2298228,2001690283,2015,Chevrolet,Volt,112160,base,17590,17590,False,790,2022-09-09T22:04:42.555Z,2022-08-31

In [3]:
#display count of rows in each column
df.count()

vehicle_id                44365
stock_number              44365
year                      44365
make                      44365
model                     44365
miles                     44365
trim                      44365
sold_price                44365
discounted_sold_price     44365
partnered_dealership      44365
delivery_fee              44365
earliest_delivery_date    44365
sold_date                 44365
dtype: int64

In [4]:
#drop NA values and display 2 rows of dataframe
df = df.dropna()
df.head(2)

,vehicle_id,stock_number,year,make,model,miles,trim,sold_price,discounted_sold_price,partnered_dealership,delivery_fee,earliest_delivery_date,sold_date
0,2270123,2001646447,2014,Volkswagen,Jetta,53238,2.0L S,15990,15990,False,1490,2022-09-09T21:34:31.376Z,2022-08-31
1,2298228,2001690283,2015,Chevrolet,Volt,112160,base,17590,17590,False,790,2022-09-09T22:04:42.555Z,2022-08-31

In [5]:
#create  filter car types into dataframe for cartypes
cartypes_df=df[["make","model","trim"]].drop_duplicates()

In [6]:
#check results of dataframe
cartypes_df.head(2)

         make  model    trim
0  Volkswagen  Jetta  2.0L S
1   Chevrolet   Volt    base

In [7]:
 # create variable to hold columns for car details
cardetails_col = (
     "vehicle_id"
     ,"stock_number"
     , "sold_price"
     ,"discounted_sold_price"
     ,"delivery_fee"
     ,"sold_date")

In [8]:
# create dataframe of just cardetails and use variable to filter the columns 
cardetails_df = df.filter (cardetails_col).drop_duplicates()
cardetails_df.head(2)

,vehicle_id,stock_number,sold_price,discounted_sold_price,delivery_fee,sold_date
0,2270123,2001646447,15990,15990,1490,2022-08-31
1,2298228,2001690283,17590,17590,790,2022-08-31

In [9]:
    # Python SQL toolkit and Object Relational Mapper, sql
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
from dotenv import load_dotenv

import psycopg2

# make sure that the file is .py use separate file not to display connection data in notebook
# the connect string is a separate python file with the name  of the database connection information
# to load create a notebook named dbconnection.py with the connection information for your database 
# same in the same location as this notebook 
# example connection string to place in python file 
# connect_string='postgresql://nameofpostgresuser:Password@localhost:5433/cardata'
from dbconnection import connect_string

ModuleNotFoundError: No module named 'dbconnection'

In [ ]:
#create dataframe for car inventory with specific columns and drop duplicates
inventoryCol = ('stock_number','year','make','model','trim','miles' )
carinventory_df = df.filter(inventoryCol).drop_duplicates()
carinventory_df.head(2)

In [ ]:
#create sql engine connection to Postgres database
engine = create_engine (connect_string)

In [ ]:
#load data from dataframe cardetails to cardetails in Postgres database
cardetails_df.to_sql(
    'cardetails' 
    ,engine
    ,index=False # Not copying over the index
    ,if_exists='replace'
)

In [ ]:
# load data from carinventory dataframe to carinventory table in Postgres
carinventory_df.to_sql('carinventory'
                      ,engine
                      ,index=False
                      ,if_exists='replace')

In [ ]:
#Load data from cartypes dataframe into cartypes table in Postgres
cartypes_df.to_sql('cartypes'
                      ,engine
                      ,index=False
                      ,if_exists='replace')

In [ ]:
#verify tables were created
inspector = inspect(engine)
inspector.get_table_names()

In [ ]:
# extract data for car into dataframe for processing
infoFromDB = pd.read_sql("SELECT ci.year, ci.make, ci.model, ci.miles,ci.trim,cd.sold_price \
                          from cardetails cd \
                       inner join carinventory ci on cd.stock_number = ci.stock_number", engine)

In [ ]:
#convert datafrom db into a dataframe
dFnew = pd.DataFrame(infoFromDB)
dFnew.head()

In [ ]:
dFnew.dtypes

In [ ]:
%matplotlib inline
from matplotlib import pyplot as plt
#from sklearn.datasets import make_classification
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from time import time

In [ ]:
Final_car_price = dFnew.drop_duplicates()
Final_car_price_pred = pd.DataFrame(Final_car_price)
Final_car_price_pred

In [ ]:
Final_car_price= Final_car_price_pred.sample(30000, replace=False)
Final_car_price

In [ ]:
X=Final_car_price[["year","make","model","miles","trim"]]
y = Final_car_price['sold_price']

In [ ]:
X.head()

In [ ]:
#show data in Y
y.head()

In [ ]:
X_dummies = pd.get_dummies(X)
print(X_dummies.columns)
X_dummies

# Random Forest Regressor with parameters

In [ ]:
from sklearn.ensemble import RandomForestRegressor
X_train, X_test, y_train, y_test = train_test_split(X_dummies, y, random_state=1)

scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
start = time()
    
clf = RandomForestRegressor(max_depth=90,criterion='squared_error', n_estimators=800).fit(X_train_scaled, y_train)
print(f'Training Score: {clf.score(X_train_scaled, y_train)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')
total_execution_time = time() - start
total_execution_time

# Using Decision Tree Regressor Algorithm with no parameters

In [ ]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X_dummies, y, test_size=0.2)
scaler = StandardScaler().fit(xtrain)
X_train_scaled = scaler.transform(xtrain)
X_test_scaled = scaler.transform(xtest)

from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor(random_state = 42)
model.fit(X_train_scaled, ytrain)
predictions = model.predict(X_test_scaled)

from sklearn.metrics import mean_absolute_error
test_score = model.score(X_test_scaled, predictions)
print(test_score)
#print(f"Actual values: {y}predicted values:{predictions}")

# Without Using any Parameters in the following Models:

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor, AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from time import time

In [ ]:
def test_model(model, data):
    X_train_scaled, X_test_scaled, y_train, y_test = data
    start = time()
    reg = model.fit(X_train_scaled, y_train)
    train_time = time() - start
    start = time()
    predict_time = time()-start    
    print(f'Model: {type(reg).__name__}')
    print("\tTraining time: %0.3fs" % train_time)
    print("\tPrediction time: %0.3fs" % predict_time)
    print(f'Train score: {reg.score(X_train_scaled, y_train)}')
    print(f'Test Score: {reg.score(X_test_scaled, y_test)}\n')

In [ ]:
# Create data
X_train, X_test, y_train, y_test = train_test_split(X_dummies, y, random_state=42)
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)
data = [X_train_scaled, X_test_scaled, y_train, y_test]

In [ ]:
test_model(LinearRegression(), data)

test_model(KNeighborsRegressor(), data)
test_model(RandomForestRegressor(), data)
test_model(GradientBoostingRegressor(), data)
test_model(ExtraTreesRegressor(), data)
test_model(AdaBoostRegressor(), data)
test_model(Ridge(), data)
test_model(Lasso(), data)
test_model(SVR(C=1.0, epsilon=0.2), data)

# Using Hyperparameters Tuning (to see if our test scores improve)

### Evaluation Function

In [ ]:
def evaluate(model, X_test_scaled, y_test):
    predictions = model.predict(X_test_scaled)
    errors = abs(predictions - y_test)
    mape = 100 * np.mean(errors / y_test)
    accuracy = 100 - mape
    print('Model Performance')
    print('Average Error: {:0.4f} degrees.'.format(np.mean(errors)))
    print('Accuracy = {:0.2f}%.'.format(accuracy))
    
    return accuracy

# Evaluate the Default base Model
base_model = RandomForestRegressor(n_estimators = 10, random_state = 42)
base_model.fit(X_train_scaled, y_train)
base_accuracy = evaluate(base_model, X_test_scaled, y_test)

In [ ]:
from sklearn.model_selection import GridSearchCV
# Create the parameter grid based on the results of random search 
param_grid = {
    'bootstrap': [True],
    'max_depth': [80, 90, 100, 110],
    'max_features': [2, 3],
    'min_samples_leaf': [3, 4, 5],
    'min_samples_split': [8, 10, 12],
    'n_estimators': [100, 200, 300, 1000]
}
# Create a based model
rf = RandomForestRegressor()
# Instantiate the grid search model
grid_search = GridSearchCV(estimator = rf, param_grid = param_grid, 
                          cv = 3, n_jobs = -1, verbose = 2)

In [ ]:
 #Fit the grid search to the data
grid_search.fit(X_train_scaled, y_train)
grid_search.best_params_

### Evaluate the Model from Grid Search

In [ ]:
best_grid = grid_search.best_estimator_
grid_accuracy = evaluate(best_grid, X_test_scaled, y_test)

In [ ]:
print('Deterioration of {:0.2f}%.'.format( 100 * (grid_accuracy - base_accuracy) / base_accuracy))

# Analysis:

### Since the model from Hyperparamters tuning did not give us good results, our final Model with good test score will be Random Forest trees Regression Model. With and without Parameters, RandomForestRegression model gave us the best results.

# Plots using matplotlib

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
sns.barplot(data=Final_car_price_pred, x='year', y='sold_price')

In [ ]:
sns.barplot(data=Final_car_price_pred, x='year', y='miles')

In [ ]:
plt.figure(figsize=(15,15))
keys = list(Final_car_price_pred.groupby(['make'])['make'].count().sort_values().index)
values = list(Final_car_price_pred.groupby(['make'])['make'].count().sort_values().values)
plt.pie(values, labels = keys)
plt.show()

In [ ]:
corr = Final_car_price_pred.corr()
f, ax = plt.subplots(figsize=(12, 10))
cmap = sns.cubehelix_palette(as_cmap=True)
sns.heatmap(corr, annot=True, cmap=cmap)

In [ ]:
# x_values = North_Hemisphere['Lat'] # y
# y_values = North_Hemisphere['Max Temp']

# plt.scatter(x_values,y_values,c = 'purple', marker = "o", edgecolors="black", alpha = 0.65)
# plt.title("(Northern Hemisphere) Max Temp vs. Lat")
# plt.xlabel("Latitdue")
# plt.ylabel("Max Temperature (F)")



# # Run linear regression
# (slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)
# regress_values = x_values * slope + intercept
# line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

#  # Plot regression line
# plt.plot(x_values,regress_values,"r-")
# plt.annotate(line_eq,(10,50),fontsize=15,color="red")

# # Print r square value
# print(f"The r-value is : {rvalue**2}")




# # Save the image
# plt.savefig("WeatherPyImages/north_lat_vs_temp.png")

# # Show plot
# plt.show()