In [1]:
import pandas as pd
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

    # Python SQL toolkit and Object Relational Mapper, sql
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
#from dotenv import load_dotenv

#import psycopg2
# INSTRUCTIONS TO MAKE DB CONNECTION
# create a file named dbconnection.py with the connection the postgres database
# the connect string is a separate python file with the name  of the database connection information
# to load create a notebook named dbconnection.py with the connection information for your database 
# same in the same location as this notebook 
# example connection string to place in python file 
# connect_string='postgresql://nameofpostgresuser:Password@localhost:5432/cardata'
from dbconnection import connect_string

In [2]:
#create sql engine connection to Postgres database
engine = create_engine (connect_string)

In [3]:
# extract data for car into dataframe for processing
infoFromDB = pd.read_sql("SELECT ci.year, ci.make, ci.model, ci.miles,ci.trim,cd.sold_price \
                          from cardetails cd \
                       inner join carinventory ci on cd.stock_number = ci.stock_number", engine)

In [4]:
#convert datafrom db into a dataframe
dFnew = pd.DataFrame(infoFromDB)
dFnew.head()

   year        make    model  miles        trim  sold_price
0  2014  Volkswagen    Jetta  53238      2.0L S       15990
1  2015   Chevrolet    Cruze  86301         1LT       13990
2  2022      Toyota  4Runner   5544   TRD Sport       48990
3  2017    Cadillac      CTS  18467  2.0 Luxury       32590
4  2015     Hyundai   Sonata  80514       Sport       16990

In [5]:
# get data types
dFnew.dtypes

year           int64
make          object
model         object
miles          int64
trim          object
sold_price     int64
dtype: object

In [6]:
# import libraries 

%matplotlib inline
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from time import time

In [7]:
# clean data for final processing
Final_car_price = dFnew.drop_duplicates()
Final_car_price_pred = pd.DataFrame(Final_car_price)
Final_car_price_pred

       year        make     model  miles        trim  sold_price
0      2014  Volkswagen     Jetta  53238      2.0L S       15990
1      2015   Chevrolet     Cruze  86301         1LT       13990
2      2022      Toyota   4Runner   5544   TRD Sport       48990
3      2017    Cadillac       CTS  18467  2.0 Luxury       32590
4      2015     Hyundai    Sonata  80514       Sport       16990
...     ...         ...       ...    ...         ...         ...
44352  2015         BMW        X5  66544   xDrive35i       29990
44353  2017   Chevrolet     Spark  27931          LS       16990
44354  2018       Buick  Envision  51651     Essence       26990
44355  2012     Hyundai    Accent  96252          SE       13590
44356  2013     Lincoln       MKX  40491        base       23590

[44354 rows x 6 columns]

In [9]:
# get sample data and display dataframe
Final_car_price= Final_car_price_pred.sample(30000, replace=False)
Final_car_price

,year,make,model,miles,trim,sold_price
41507,2010,Kia,Sportage,99242,LX,11590
6108,2012,Chevrolet,Camaro,52919,LT,21990
43024,2019,Chevrolet,Equinox,48480,LT,21990
34651,2019,Jeep,Compass,49665,Upland,23990
8916,2014,Ford,F150 SuperCrew Cab,100012,Lariat 5 1/2 ft,27590
...,...,...,...,...,...,...
16758,2010,Toyota,Corolla,62615,S,14990
34561,2015,Dodge,Charger,72669,SXT,22990
29401,2018,Acura,RLX,51749,base,33990
3416,2016,Mitsubishi,Outlander Sport,57197,GT,19990
17248,2018,Honda,Civic,60337,EX,22990

In [14]:
# split into X and Y values for processing 

X=Final_car_price[["year","make","model","miles","trim"]]
y = Final_car_price['sold_price']

In [15]:
#show data first five of data in X 
X.head()

       year       make               model   miles             trim
41507  2010        Kia            Sportage   99242               LX
6108   2012  Chevrolet              Camaro   52919               LT
43024  2019  Chevrolet             Equinox   48480               LT
34651  2019       Jeep             Compass   49665           Upland
8916   2014       Ford  F150 SuperCrew Cab  100012  Lariat 5 1/2 ft

In [16]:
#show data first five of data in Y 
y.head()

41507    11590
6108     21990
43024    21990
34651    23990
8916     27590
Name: sold_price, dtype: int64

In [17]:
# load dummies for processing
X_dummies = pd.get_dummies(X)
print(X_dummies.columns)
X_dummies

Index(['year', 'miles', 'make_Acura', 'make_Alfa Romeo', 'make_Audi',
       'make_BMW', 'make_Buick', 'make_Cadillac', 'make_Chevrolet',
       'make_Chrysler',
       ...
       'trim_xDrive28i', 'trim_xDrive30e', 'trim_xDrive30i', 'trim_xDrive35i',
       'trim_xDrive35i Premium', 'trim_xDrive35i Sport Activity',
       'trim_xDrive40e', 'trim_xDrive40e iPerformance', 'trim_xDrive40i',
       'trim_xDrive50i'],
      dtype='object', length=2156)

,year,miles,make_Acura,make_Alfa Romeo,make_Audi,make_BMW,make_Buick,make_Cadillac,make_Chevrolet,make_Chrysler,...,trim_xDrive28i,trim_xDrive30e,trim_xDrive30i,trim_xDrive35i,trim_xDrive35i Premium,trim_xDrive35i Sport Activity,trim_xDrive40e,trim_xDrive40e iPerformance,trim_xDrive40i,trim_xDrive50i
41507,2010,99242,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6108,2012,52919,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
43024,2019,48480,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
34651,2019,49665,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8916,2014,100012,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16758,2010,62615,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34561,2015,72669,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29401,2018,51749,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3416,2016,57197,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17248,2018,60337,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Random Forest Regressor with parameters

In [18]:
# train and fit the model for Random Forest Regessor 
from sklearn.ensemble import RandomForestRegressor
X_train, X_test, y_train, y_test = train_test_split(X_dummies, y, random_state=1)

scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [19]:
# run model and print training and test scores
start = time()
    
clf = RandomForestRegressor(max_depth=90,criterion='squared_error', n_estimators=800).fit(X_train_scaled, y_train)
print(f'Training Score: {clf.score(X_train_scaled, y_train)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')
total_execution_time = time() - start
total_execution_time

Training Score: 0.9804056623744203
Testing Score: 0.879021150975997

1916.9649772644043

# Without Using any Parameters in the following Models:

In [21]:
# import libraries for Models used in the next set of testing and training
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor, AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from time import time

In [22]:
# function to run test different test models
def test_model(model, data):
    X_train_scaled, X_test_scaled, y_train, y_test = data
    start = time()
    reg = model.fit(X_train_scaled, y_train)
    train_time = time() - start
    start = time()
    predict_time = time()-start    
    print(f'Model: {type(reg).__name__}')
    print("\tTraining time: %0.3fs" % train_time)
    print("\tPrediction time: %0.3fs" % predict_time)
    print(f'Train score: {reg.score(X_train_scaled, y_train)}')
    print(f'Test Score: {reg.score(X_test_scaled, y_test)}\n')

In [23]:
# Train and fit the data
X_train, X_test, y_train, y_test = train_test_split(X_dummies, y, random_state=42)
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)
data = [X_train_scaled, X_test_scaled, y_train, y_test]

In [ ]:
# execute function for reach Machine Learning Model
test_model(LinearRegression(), data)
test_model(KNeighborsRegressor(), data)
test_model(RandomForestRegressor(), data)
test_model(GradientBoostingRegressor(), data)
test_model(ExtraTreesRegressor(), data)
test_model(AdaBoostRegressor(), data)
test_model(Ridge(), data)
test_model(Lasso(), data)
test_model(SVR(C=1.0, epsilon=0.2), data)
test_model(DecisionTreeRegressor(),data)

Model: LinearRegression
	Training time: 3.570s
	Prediction time: 0.000s
Train score: 0.9049811331061458
Test Score: -4.105445784071338e+25

Model: KNeighborsRegressor
	Training time: 0.044s
	Prediction time: 0.000s
Train score: 0.882440078930656
Test Score: 0.7924269230397833

Model: RandomForestRegressor
	Training time: 177.713s
	Prediction time: 0.000s
Train score: 0.9816405191427534
Test Score: 0.8625267237306804

Model: GradientBoostingRegressor
	Training time: 47.366s
	Prediction time: 0.000s
Train score: 0.6892872258659343
Test Score: 0.6762687729112307

Model: ExtraTreesRegressor
	Training time: 279.035s
	Prediction time: 0.000s
Train score: 0.9999970484897075
Test Score: 0.8964331097033009

Model: AdaBoostRegressor
	Training time: 51.295s
	Prediction time: 0.000s
Train score: 0.11721094947812005
Test Score: 0.13124902402584548

Model: Ridge
	Training time: 1.754s
	Prediction time: 0.000s
Train score: 0.9532547710828151
Test Score: 0.914442120472658

# Using Hyperparameters Tuning (to see if our test scores improve)

In [ ]:
# function that evaluates the accuracy for RandomForestRegressor Model  

def evaluate(model, X_test_scaled, y_test):
    predictions = model.predict(X_test_scaled)
    errors = abs(predictions - y_test)
    mape = 100 * np.mean(errors / y_test)
    accuracy = 100 - mape
    print('Model Performance')
    print('Average Error: {:0.4f} degrees.'.format(np.mean(errors)))
    print('Accuracy = {:0.2f}%.'.format(accuracy))
    
    return accuracy
base_model = RandomForestRegressor(n_estimators = 10, random_state = 42)
base_model.fit(X_train_scaled, y_train)
base_accuracy = evaluate(base_model, X_test_scaled, y_test)

In [ ]:
from sklearn.model_selection import GridSearchCV
# Create the parameter grid based on the results of random search 
param_grid = {
    'bootstrap': [True],
    'max_depth': [80, 90, 100, 110],
    'max_features': [2, 3],
    'min_samples_leaf': [3, 4, 5],
    'min_samples_split': [8, 10, 12],
    'n_estimators': [100, 200, 300, 1000]
}
# Create a based model
rf = RandomForestRegressor()
# Instantiate the grid search model
grid_search = GridSearchCV(estimator = rf, param_grid = param_grid, 
                          cv = 3, n_jobs = -1, verbose = 2)

In [ ]:
 #Fit the grid search to the data
grid_search.fit(X_train_scaled, y_train)
grid_search.best_params_

In [ ]:
# execute grid search best estimator again test data
best_grid = grid_search.best_estimator_
grid_accuracy = evaluate(best_grid, X_test_scaled, y_test)

In [ ]:
# print results
print('Deterioration of {:0.2f}%.'.format( 100 * (grid_accuracy - base_accuracy) / base_accuracy))

# Plots using matplotlib

In [ ]:
# import libraries
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
# create bar plot for year versus sold price
sns.barplot(data=Final_car_price_pred, x='year', y='sold_price')

In [ ]:
# create bar plot for year versus miles
sns.barplot(data=Final_car_price_pred, x='year', y='miles')

In [ ]:
# create  pie chart of values
plt.figure(figsize=(15,15))
keys = list(Final_car_price_pred.groupby(['make'])['make'].count().sort_values().index)
values = list(Final_car_price_pred.groupby(['make'])['make'].count().sort_values().values)
plt.pie(values, labels = keys)
plt.show()

In [ ]:
# create heatmap of year, miles, sold price
corr = Final_car_price_pred.corr()
f, ax = plt.subplots(figsize=(12, 10))
cmap = sns.cubehelix_palette(as_cmap=True)
sns.heatmap(corr, annot=True, cmap=cmap)

In [ ]:
# run the lasso linear model and create bar chat for trained data
from sklearn.linear_model import Lasso
reg = Lasso(max_iter=2000).fit(X_train_scaled, y_train)
print('Model: LASSO')
print(f'Score: {reg.score(X_test_scaled, y_test)}\n')
plt.bar(np.arange(len(reg.coef_)), reg.coef_)
plt.title(f'LASSO coefficient plot')
plt.show()