In [1]:
import pandas as pd

In [2]:
#load the dataset into a panda dataframe
df = pd.read_csv("Resources/carvana_carvana_car_sold-2022-08.csv", index_col = False)
df1 = df.head(1500)
df1

,vehicle_id,stock_number,year,make,model,miles,trim,sold_price,discounted_sold_price,partnered_dealership,delivery_fee,earliest_delivery_date,sold_date
0,2270123,2001646447,2014,Volkswagen,Jetta,53238,2.0L S,15990,15990,False,1490,2022-09-09T21:34:31.376Z,2022-08-31
1,2298228,2001690283,2015,Chevrolet,Volt,112160,base,17590,17590,False,790,2022-09-09T22:04:42.555Z,2022-08-31
2,2463098,2001933427,2015,Ford,Focus,57046,SE,14990,14990,False,0,2022-09-06T21:35:20.3145311Z,2022-08-31
3,2488480,2001977729,2013,Honda,Odyssey,103874,EX-L,18990,18990,False,490,2022-09-06T22:04:19.711928Z,2022-08-31
4,2183400,2001531442,2015,Chevrolet,Cruze,86301,1LT,13990,13990,False,790,2022-09-09T22:05:19.367Z,2022-08-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,2225536,2001459494,2015,Chevrolet,Trax,85863,LS,16590,16590,False,790,2022-09-09T22:05:13.792Z,2022-08-31
1496,2509387,2001994991,2014,Hyundai,Sonata,62053,GLS,14989,14989,True,0,2022-09-06T21:29:03.243Z,2022-08-31
1497,2293390,2001675202,2013,MINI,Hardtop,40853,Cooper,16990,16990,False,1490,2022-09-09T21:35:43.304Z,2022-08-31
1498,2475829,2001947446,2020,GMC,Terrain,58304,SLT,25590,25590,False,0,2022-09-06T21:35:41.959Z,2022-08-31
1499,2474267,2001957580,2016,Jeep,Wrangler,60500,Unlimited Sport,30990,30990,False,490,2022-09-09T21:36:48.823Z,2022-08-31

In [3]:
df2 = df1.dropna()

In [4]:
df2

,vehicle_id,stock_number,year,make,model,miles,trim,sold_price,discounted_sold_price,partnered_dealership,delivery_fee,earliest_delivery_date,sold_date
0,2270123,2001646447,2014,Volkswagen,Jetta,53238,2.0L S,15990,15990,False,1490,2022-09-09T21:34:31.376Z,2022-08-31
1,2298228,2001690283,2015,Chevrolet,Volt,112160,base,17590,17590,False,790,2022-09-09T22:04:42.555Z,2022-08-31
2,2463098,2001933427,2015,Ford,Focus,57046,SE,14990,14990,False,0,2022-09-06T21:35:20.3145311Z,2022-08-31
3,2488480,2001977729,2013,Honda,Odyssey,103874,EX-L,18990,18990,False,490,2022-09-06T22:04:19.711928Z,2022-08-31
4,2183400,2001531442,2015,Chevrolet,Cruze,86301,1LT,13990,13990,False,790,2022-09-09T22:05:19.367Z,2022-08-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,2225536,2001459494,2015,Chevrolet,Trax,85863,LS,16590,16590,False,790,2022-09-09T22:05:13.792Z,2022-08-31
1496,2509387,2001994991,2014,Hyundai,Sonata,62053,GLS,14989,14989,True,0,2022-09-06T21:29:03.243Z,2022-08-31
1497,2293390,2001675202,2013,MINI,Hardtop,40853,Cooper,16990,16990,False,1490,2022-09-09T21:35:43.304Z,2022-08-31
1498,2475829,2001947446,2020,GMC,Terrain,58304,SLT,25590,25590,False,0,2022-09-06T21:35:41.959Z,2022-08-31
1499,2474267,2001957580,2016,Jeep,Wrangler,60500,Unlimited Sport,30990,30990,False,490,2022-09-09T21:36:48.823Z,2022-08-31

In [5]:
%matplotlib inline
from matplotlib import pyplot as plt
#from sklearn.datasets import make_classification
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [6]:
dFnew = df2.drop(columns = ["vehicle_id", "stock_number","discounted_sold_price","partnered_dealership","earliest_delivery_date"])
dFnew

,year,make,model,miles,trim,sold_price,delivery_fee,sold_date
0,2014,Volkswagen,Jetta,53238,2.0L S,15990,1490,2022-08-31
1,2015,Chevrolet,Volt,112160,base,17590,790,2022-08-31
2,2015,Ford,Focus,57046,SE,14990,0,2022-08-31
3,2013,Honda,Odyssey,103874,EX-L,18990,490,2022-08-31
4,2015,Chevrolet,Cruze,86301,1LT,13990,790,2022-08-31
...,...,...,...,...,...,...,...,...
1495,2015,Chevrolet,Trax,85863,LS,16590,790,2022-08-31
1496,2014,Hyundai,Sonata,62053,GLS,14989,0,2022-08-31
1497,2013,MINI,Hardtop,40853,Cooper,16990,1490,2022-08-31
1498,2020,GMC,Terrain,58304,SLT,25590,0,2022-08-31
1499,2016,Jeep,Wrangler,60500,Unlimited Sport,30990,490,2022-08-31

In [7]:
dFnew.dtypes

year             int64
make            object
model           object
miles            int64
trim            object
sold_price       int64
delivery_fee     int64
sold_date       object
dtype: object

In [8]:
dFnew.duplicated().sum()

0

In [9]:
Final_car_price = dFnew.drop_duplicates()
Final_car_price_pred = pd.DataFrame(Final_car_price)
Final_car_price_pred

,year,make,model,miles,trim,sold_price,delivery_fee,sold_date
0,2014,Volkswagen,Jetta,53238,2.0L S,15990,1490,2022-08-31
1,2015,Chevrolet,Volt,112160,base,17590,790,2022-08-31
2,2015,Ford,Focus,57046,SE,14990,0,2022-08-31
3,2013,Honda,Odyssey,103874,EX-L,18990,490,2022-08-31
4,2015,Chevrolet,Cruze,86301,1LT,13990,790,2022-08-31
...,...,...,...,...,...,...,...,...
1495,2015,Chevrolet,Trax,85863,LS,16590,790,2022-08-31
1496,2014,Hyundai,Sonata,62053,GLS,14989,0,2022-08-31
1497,2013,MINI,Hardtop,40853,Cooper,16990,1490,2022-08-31
1498,2020,GMC,Terrain,58304,SLT,25590,0,2022-08-31
1499,2016,Jeep,Wrangler,60500,Unlimited Sport,30990,490,2022-08-31

Fit, Model, Predict

In [10]:
# Create data


X = Final_car_price_pred[["year","make","model","miles","trim","delivery_fee","sold_date"]]

X_dummies = pd.get_dummies(X)
print(X_dummies.columns)
X_dummies

Index(['year', 'miles', 'delivery_fee', 'make_Acura', 'make_Alfa Romeo',
       'make_Audi', 'make_BMW', 'make_Buick', 'make_Cadillac',
       'make_Chevrolet',
       ...
       'trim_i Touring', 'trim_s Grand Touring', 'trim_sDrive28i',
       'trim_sDrive30i', 'trim_xDrive28i', 'trim_xDrive35i',
       'trim_xDrive35i Premium', 'trim_xDrive35i Sport Activity',
       'trim_xDrive40i', 'sold_date_2022-08-31'],
      dtype='object', length=810)

,year,miles,delivery_fee,make_Acura,make_Alfa Romeo,make_Audi,make_BMW,make_Buick,make_Cadillac,make_Chevrolet,...,trim_i Touring,trim_s Grand Touring,trim_sDrive28i,trim_sDrive30i,trim_xDrive28i,trim_xDrive35i,trim_xDrive35i Premium,trim_xDrive35i Sport Activity,trim_xDrive40i,sold_date_2022-08-31
0,2014,53238,1490,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2015,112160,790,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,2015,57046,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,2013,103874,490,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2015,86301,790,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,2015,85863,790,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1496,2014,62053,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1497,2013,40853,1490,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1498,2020,58304,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1499,2016,60500,490,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [11]:
y = Final_car_price_pred["sold_price"]
y

0       15990
1       17590
2       14990
3       18990
4       13990
        ...
1495    16590
1496    14989
1497    16990
1498    25590
1499    30990
Name: sold_price, Length: 1500, dtype: int64

In [12]:

X_train, X_test, y_train, y_test = train_test_split(X_dummies, y, random_state=1)
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [13]:
clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_train_scaled, y_train)
print(f'Training Score: {clf.score(X_train_scaled, y_train)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')

Training Score: 1.0
Testing Score: 0.088

# Using Decision Trees Algorithm

In [14]:
X = np.array(Final_car_price_pred.drop(["make","model","trim","delivery_fee","sold_date","sold_price"], 1))
y = np.array(Final_car_price_pred["sold_price"])

from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size=0.2)

from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor()
model.fit(xtrain, ytrain)
predictions = model.predict(xtest)

from sklearn.metrics import mean_absolute_error
model.score(xtest, predictions)

/var/folders/j3/v5mgw98127j3f1vt3k9pnfz40000gn/T/ipykernel_18639/2182590516.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = np.array(Final_car_price_pred.drop(["make","model","trim","delivery_fee","sold_date","sold_price"], 1))

1.0

# Using Neural Network Alogrithms

In [15]:
# Import our dependencies
import pandas as pd
import matplotlib as plt
import sklearn as skl
import tensorflow as tf

2022-11-21 17:29:14.417597: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [16]:
Final_car_price_pred2 = pd.get_dummies(Final_car_price_pred)
Final_car_price_pred2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1500 entries, 0 to 1499
Columns: 811 entries, year to sold_date_2022-08-31
dtypes: int64(4), uint8(807)
memory usage: 1.2 MB

In [17]:
X_car = Final_car_price_pred2.drop(columns=["sold_price"])
X_car

,year,miles,delivery_fee,make_Acura,make_Alfa Romeo,make_Audi,make_BMW,make_Buick,make_Cadillac,make_Chevrolet,...,trim_i Touring,trim_s Grand Touring,trim_sDrive28i,trim_sDrive30i,trim_xDrive28i,trim_xDrive35i,trim_xDrive35i Premium,trim_xDrive35i Sport Activity,trim_xDrive40i,sold_date_2022-08-31
0,2014,53238,1490,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2015,112160,790,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,2015,57046,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,2013,103874,490,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2015,86301,790,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,2015,85863,790,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1496,2014,62053,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1497,2013,40853,1490,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1498,2020,58304,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1499,2016,60500,490,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [18]:
y_car = pd.DataFrame(Final_car_price_pred2, columns=["sold_price"])
y_car

      sold_price
0          15990
1          17590
2          14990
3          18990
4          13990
...          ...
1495       16590
1496       14989
1497       16990
1498       25590
1499       30990

[1500 rows x 1 columns]

In [19]:
# Use sklearn to split dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_car, y_car, random_state=42)

# Create scaler instance
X_scaler = skl.preprocessing.StandardScaler()

# Fit the scaler
X_scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [20]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])  # sets the activation function to test on relu, ...  
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=10,
        step=2), activation=activation, input_dim=2))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=10,
            step=2),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [21]:
!pip install keras-tuner

Collecting keras-tuner
  Downloading keras_tuner-1.1.3-py3-none-any.whl (135 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 135 kB 5.0 MB/s eta 0:00:01
Requirement already satisfied: packaging in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from keras-tuner) (21.3)
Requirement already satisfied: numpy in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from keras-tuner) (1.21.5)
Requirement already satisfied: ipython in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from keras-tuner) (8.2.0)
Collecting kt-legacy
  Downloading kt_legacy-1.0.4-py3-none-any.whl (9.6 kB)
Requirement already satisfied: requests in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from keras-tuner) (2.27.1)
Requirement already satisfied: tensorboard in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from keras-tuner) (2.10.1)
Requirement already satisfied: traitlets>=5 in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from ipython->keras-tuner) (5.1.1)
Requirement already satisfied: appnope in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from ipython->keras-tuner) (0.1.2)
Requirement already satisfied: setuptools>=18.5 in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from ipython->keras-tuner) (61.2.0)
Requirement already satisfied: stack-data in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from ipython->keras-tuner) (0.2.0)
Requirement already satisfied: matplotlib-inline in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from ipython->keras-tuner) (0.1.2)
Requirement already satisfied: pexpect>4.3 in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from ipython->keras-tuner) (4.8.0)
Requirement already satisfied: pygments>=2.4.0 in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from ipython->keras-tuner) (2.11.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from ipython->keras-tuner) (3.0.20)
Requirement already satisfied: jedi>=0.16 in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from ipython->keras-tuner) (0.18.1)
Requirement already satisfied: pickleshare in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from ipython->keras-tuner) (0.7.5)
Requirement already satisfied: decorator in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from ipython->keras-tuner) (5.1.1)
Requirement already satisfied: backcall in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from ipython->keras-tuner) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython->keras-tuner) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from pexpect>4.3->ipython->keras-tuner) (0.7.0)
Requirement already satisfied: wcwidth in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->keras-tuner) (0.2.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from packaging->keras-tuner) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from requests->keras-tuner) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from requests->keras-tuner) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from requests->keras-tuner) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from requests->keras-tuner) (1.26.9)
Requirement already satisfied: asttokens in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from stack-data->ipython->keras-tuner) (2.0.5)
Requirement already satisfied: pure-eval in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from stack-data->ipython->keras-tuner) (0.2.2)
Requirement already satisfied: executing in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from stack-data->ipython->keras-tuner) (0.8.3)
Requirement already satisfied: six in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from asttokens->stack-data->ipython->keras-tuner) (1.16.0)
Requirement already satisfied: grpcio>=1.24.3 in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from tensorboard->keras-tuner) (1.42.0)
Requirement already satisfied: werkzeug>=1.0.1 in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from tensorboard->keras-tuner) (2.0.3)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from tensorboard->keras-tuner) (3.19.1)
Requirement already satisfied: absl-py>=0.4 in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from tensorboard->keras-tuner) (1.3.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from tensorboard->keras-tuner) (0.4.6)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from tensorboard->keras-tuner) (0.6.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from tensorboard->keras-tuner) (1.8.1)
Requirement already satisfied: wheel>=0.26 in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from tensorboard->keras-tuner) (0.37.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from tensorboard->keras-tuner) (1.33.0)
Requirement already satisfied: markdown>=2.6.8 in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from tensorboard->keras-tuner) (3.3.4)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (4.2.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (1.3.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard->keras-tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (3.2.2)
Installing collected packages: kt-legacy, keras-tuner
Successfully installed keras-tuner-1.1.3 kt-legacy-1.0.4

In [26]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

INFO:tensorflow:Reloading Oracle from existing project ./untitled_project/oracle.json

In [27]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Search: Running Trial #1

Value             |Best Value So Far |Hyperparameter
relu              |?                 |activation
9                 |?                 |first_units
3                 |?                 |num_layers
1                 |?                 |units_0
3                 |?                 |tuner/epochs
0                 |?                 |tuner/initial_epoch
2                 |?                 |tuner/bracket
0                 |?                 |tuner/round

Epoch 1/3

ValueError: in user code:

    File "/Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages/keras/engine/training.py", line 1160, in train_function  *
        return step_function(self, iterator)
    File "/Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages/keras/engine/training.py", line 1146, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "/Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages/keras/engine/training.py", line 1135, in run_step  **
        outputs = model.train_step(data)
    File "/Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages/keras/engine/training.py", line 993, in train_step
        y_pred = self(x, training=True)
    File "/Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages/keras/utils/traceback_utils.py", line 70, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "/Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages/keras/engine/input_spec.py", line 295, in assert_input_compatibility
        raise ValueError(

    ValueError: Input 0 of layer "sequential" is incompatible with the layer: expected shape=(None, 2), found shape=(None, 810)

In [25]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

IndexError: list index out of range

In [24]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

IndexError: list index out of range

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
sns.barplot(data=Final_car_price_pred, x='year', y='sold_price')

In [ ]:
sns.barplot(data=Final_car_price_pred, x='year', y='miles')

In [ ]:
plt.figure(figsize=(15,15))
keys = list(Final_car_price_pred.groupby(['make'])['make'].count().sort_values().index)
values = list(Final_car_price_pred.groupby(['make'])['make'].count().sort_values().values)
plt.pie(values, labels = keys)
plt.show()

In [ ]:
corr = Final_car_price_pred.corr()
f, ax = plt.subplots(figsize=(12, 10))
cmap = sns.cubehelix_palette(as_cmap=True)
sns.heatmap(corr, annot=True, cmap=cmap)