In [1]:
import pandas as pd

In [2]:
#load the dataset into a panda dataframe
df = pd.read_csv("Resources/carvana_carvana_car_sold-2022-08.csv", index_col = False)
df = df.head(10000)

In [3]:
df1 = df.dropna()

In [4]:
df1

,vehicle_id,stock_number,year,make,model,miles,trim,sold_price,discounted_sold_price,partnered_dealership,delivery_fee,earliest_delivery_date,sold_date
0,2270123,2001646447,2014,Volkswagen,Jetta,53238,2.0L S,15990,15990,False,1490,2022-09-09T21:34:31.376Z,2022-08-31
1,2298228,2001690283,2015,Chevrolet,Volt,112160,base,17590,17590,False,790,2022-09-09T22:04:42.555Z,2022-08-31
2,2463098,2001933427,2015,Ford,Focus,57046,SE,14990,14990,False,0,2022-09-06T21:35:20.3145311Z,2022-08-31
3,2488480,2001977729,2013,Honda,Odyssey,103874,EX-L,18990,18990,False,490,2022-09-06T22:04:19.711928Z,2022-08-31
4,2183400,2001531442,2015,Chevrolet,Cruze,86301,1LT,13990,13990,False,790,2022-09-09T22:05:19.367Z,2022-08-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2291435,2001684901,2015,Volvo,S60,45737,T5 Premier (2015.5),20590,20590,False,1490,2022-08-31T21:36:29.96Z,2022-08-25
9996,2396981,2001806439,2015,Ford,Escape,88158,Titanium,18590,18590,False,1490,2022-08-31T22:05:15.847Z,2022-08-25
9997,2347773,2001763608,2016,MINI,Clubman,98766,Cooper,17590,17590,False,790,2022-09-02T22:00:50.248Z,2022-08-25
9998,2475075,2001944903,2016,Nissan,Altima,78167,2.5 S,16990,16990,False,0,2022-08-31T21:30:00.305Z,2022-08-25
9999,2235372,2001578662,2012,Toyota,Camry,86649,XLE,15990,15990,False,190,2022-08-31T22:05:02.9275531Z,2022-08-25

In [5]:
%matplotlib inline
from matplotlib import pyplot as plt
#from sklearn.datasets import make_classification
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [6]:
dFnew = df1.drop(columns = ["vehicle_id", "stock_number","discounted_sold_price","partnered_dealership","earliest_delivery_date","sold_date"])
dFnew

,year,make,model,miles,trim,sold_price,delivery_fee
0,2014,Volkswagen,Jetta,53238,2.0L S,15990,1490
1,2015,Chevrolet,Volt,112160,base,17590,790
2,2015,Ford,Focus,57046,SE,14990,0
3,2013,Honda,Odyssey,103874,EX-L,18990,490
4,2015,Chevrolet,Cruze,86301,1LT,13990,790
...,...,...,...,...,...,...,...
9995,2015,Volvo,S60,45737,T5 Premier (2015.5),20590,1490
9996,2015,Ford,Escape,88158,Titanium,18590,1490
9997,2016,MINI,Clubman,98766,Cooper,17590,790
9998,2016,Nissan,Altima,78167,2.5 S,16990,0
9999,2012,Toyota,Camry,86649,XLE,15990,190

In [7]:
dFnew.dtypes

year             int64
make            object
model           object
miles            int64
trim            object
sold_price       int64
delivery_fee     int64
dtype: object

In [8]:
dFnew.duplicated().sum()

0

In [9]:
Final_car_price = dFnew.drop_duplicates()
Final_car_price_pred = pd.DataFrame(Final_car_price)
Final_car_price_pred

,year,make,model,miles,trim,sold_price,delivery_fee
0,2014,Volkswagen,Jetta,53238,2.0L S,15990,1490
1,2015,Chevrolet,Volt,112160,base,17590,790
2,2015,Ford,Focus,57046,SE,14990,0
3,2013,Honda,Odyssey,103874,EX-L,18990,490
4,2015,Chevrolet,Cruze,86301,1LT,13990,790
...,...,...,...,...,...,...,...
9995,2015,Volvo,S60,45737,T5 Premier (2015.5),20590,1490
9996,2015,Ford,Escape,88158,Titanium,18590,1490
9997,2016,MINI,Clubman,98766,Cooper,17590,790
9998,2016,Nissan,Altima,78167,2.5 S,16990,0
9999,2012,Toyota,Camry,86649,XLE,15990,190

Fit, Model, Predict

In [10]:
# Create data


X = Final_car_price_pred[["year","make","model","miles","trim","delivery_fee"]]

X_dummies = pd.get_dummies(X)
print(X_dummies.columns)
X_dummies

Index(['year', 'miles', 'delivery_fee', 'make_Acura', 'make_Alfa Romeo',
       'make_Audi', 'make_BMW', 'make_Buick', 'make_Cadillac',
       'make_Chevrolet',
       ...
       'trim_xDrive', 'trim_xDrive28i', 'trim_xDrive30i', 'trim_xDrive35i',
       'trim_xDrive35i Premium', 'trim_xDrive35i Sport Activity',
       'trim_xDrive40e', 'trim_xDrive40i', 'trim_xDrive45e', 'trim_xDrive50i'],
      dtype='object', length=1600)

,year,miles,delivery_fee,make_Acura,make_Alfa Romeo,make_Audi,make_BMW,make_Buick,make_Cadillac,make_Chevrolet,...,trim_xDrive,trim_xDrive28i,trim_xDrive30i,trim_xDrive35i,trim_xDrive35i Premium,trim_xDrive35i Sport Activity,trim_xDrive40e,trim_xDrive40i,trim_xDrive45e,trim_xDrive50i
0,2014,53238,1490,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2015,112160,790,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,2015,57046,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2013,103874,490,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2015,86301,790,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2015,45737,1490,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,2015,88158,1490,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,2016,98766,790,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,2016,78167,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,2012,86649,190,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
y = Final_car_price_pred["sold_price"]
y

0       15990
1       17590
2       14990
3       18990
4       13990
        ...
9995    20590
9996    18590
9997    17590
9998    16990
9999    15990
Name: sold_price, Length: 10000, dtype: int64

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X_dummies, y, random_state=1)
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Random Forest Classifier

In [13]:
clf = RandomForestClassifier(random_state=1, n_estimators=20).fit(X_train_scaled, y_train)
print(f'Training Score: {clf.score(X_train_scaled, y_train)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')

Training Score: 0.9970666666666667
Testing Score: 0.106

Remove the "sold_price" column from the dataset to use Unsupervised Machine Learning Algorithms.

## SVC Model

In [14]:
# Create the SVC model
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model

SVC(kernel='linear')

In [15]:
param_grid = {'C': [1, 5, 10, 50],
              'gamma': [0.0001, 0.0005, 0.001, 0.005]}
param_grid

{'C': [1, 5, 10, 50], 'gamma': [0.0001, 0.0005, 0.001, 0.005]}

In [16]:
from sklearn.model_selection import GridSearchCV
grid_clf = GridSearchCV(model, param_grid, verbose=1)

In [17]:
# Fit the model by using the grid search classifier. 
# This will take the SVC model and try each combination of parameters.
#grid_clf.fit(X_train_scaled, y_train)

In [18]:
# List the best parameters for this dataset
#print(grid_clf.best_params_)

In [19]:
# List the best score
#print(grid_clf.best_score_)

# Logistic Regression Model

In [20]:
# Train a Logistic Regression model print the model score
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [21]:
classifier.fit(X_train_scaled, y_train)

/Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [22]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

/Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:443: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

Training Data Score: 0.0017333333333333333
Testing Data Score: 0.0008

/Users/hoobie4792/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:443: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(